@import 'fontawesome';
@import 'solid';
@import 'regular';
@import 'brands';

@import "../css/bootstrap.min.css";
@import "../css/materialize.css";

/*Theme css begins here*/
body {
    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
}
.mega-menu-wrap {
    .mega-menu {
        display: flex;
        li {

        }
    }
}