.so-widget-ink-person-person-7b9199ba6fe1 .iw-so-person .iw-so-person-img img {
  border-radius: 0;
}
.so-widget-ink-person-person-7b9199ba6fe1 .iw-so-person .iw-so-person-img .iw-so-person-ol {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 0;
  -webkit-transition: 0.3s opacity linear;
  -moz-transition: 0.3s opacity linear;
  -o-transition: 0.3s opacity linear;
  transition: 0.3s opacity linear;
}
.so-widget-ink-person-person-7b9199ba6fe1 .iw-so-person .iw-so-person-img .iw-so-person-ol p {
  -webkit-transition: 0.3s opacity linear;
  -moz-transition: 0.3s opacity linear;
  -o-transition: 0.3s opacity linear;
  transition: 0.3s opacity linear;
}
.so-widget-ink-person-person-7b9199ba6fe1 .iw-so-person .iw-so-person-content {
  background: transparent;
  padding-top: 0px;
}
.so-widget-ink-person-person-7b9199ba6fe1 .iw-so-person .iw-so-person-content .iw-so-person-name {
  font-size: 1.25em;
  font-weight: bold;
  color: #666666;
}
.so-widget-ink-person-person-7b9199ba6fe1 .iw-so-person .iw-so-person-content .iw-so-person-desig {
  font-size: 0.9em;
  font-weight: lighter;
  font-style: italic;
  letter-spacing: 2px;
  color: #aaaaaa;
}
.so-widget-ink-person-person-7b9199ba6fe1 .iw-so-person .iw-so-person-about {
  color: #333333;
}
.so-widget-ink-person-person-7b9199ba6fe1 .iw-so-person .iw-so-person-profiles [class^="sow-icon-"] {
  color: #fd5f00;
}
.so-widget-ink-person-person-7b9199ba6fe1 .iw-so-person .iw-so-person-profiles [class^="sow-icon-"]:hover,
.so-widget-ink-person-person-7b9199ba6fe1 .iw-so-person .iw-so-person-profiles [class^="sow-icon-"]:focus {
  color: #0e1229;
}