.so-widget-lsow-icon-list-default-8a88d10ebb0a .lsow-icon-list .lsow-icon-list-item .lsow-image-wrapper img {
  width: 20px;
}
.so-widget-lsow-icon-list-default-8a88d10ebb0a .lsow-icon-list .lsow-icon-list-item .lsow-icon-wrapper span {
  font-size: 20px;
  color: #666666;
}
.so-widget-lsow-icon-list-default-8a88d10ebb0a .lsow-icon-list .lsow-icon-list-item .lsow-icon-wrapper span:hover {
  color: #444444;
}