.so-widget-sow-button-atom-f6524a7d3a22 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  padding: 1em 2em;
  background: #0e1229;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #010103), color-stop(1, #0e1229));
  background: -ms-linear-gradient(bottom, #010103, #0e1229);
  background: -moz-linear-gradient(center bottom, #010103 0%, #0e1229 100%);
  background: -o-linear-gradient(#0e1229, #010103);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e1229', endColorstr='#010103', GradientType=0);
  border: 1px solid;
  border-color: #050505 #000000 #000000 #000000;
  color: #ffffff !important;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.so-widget-sow-button-atom-f6524a7d3a22 .ow-button-base a:visited,
.so-widget-sow-button-atom-f6524a7d3a22 .ow-button-base a:active,
.so-widget-sow-button-atom-f6524a7d3a22 .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-atom-f6524a7d3a22 .ow-button-base a.ow-button-hover:hover {
  background: #111531;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #04050b), color-stop(1, #111531));
  background: -ms-linear-gradient(bottom, #04050b, #111531);
  background: -moz-linear-gradient(center bottom, #04050b 0%, #111531 100%);
  background: -o-linear-gradient(#111531, #04050b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111531', endColorstr='#04050b', GradientType=0);
  border-color: #0a0a0a #050505 #000000 #050505;
  color: #ffffff;
}