.header-info {
    justify-content: flex-end;
    flex-direction: column;
    display: flex;
    align-items: flex-end;
    position: relative;
}
.navigation-section {
    margin-top: 10px;
}
.navigation-section #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    line-height: 70px;
    height: auto;
    padding: 0px 10px 0px 10px;
    vertical-align: baseline;
    width: auto;
    display: block;
    color: #fff;
    text-transform: none;
    text-decoration: none;
    text-align: left;
    text-decoration: none;
    background: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 0;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    outline: none;
    font-size: 16px;
}
.slider-section {
    padding-top: 6vw;
    padding-bottom: 6vw;
    position: relative;
    z-index: 1;
}
.slider-section:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(253, 95, 0, 0.3);
    z-index: -1;
}
.slider-section h1 {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
}
.slider-section h4 {
    color: #fff;
    font-size: 24px;
}
.contents {
    padding: 50px;
}
.panel-grid-cell .contents .widget-title {
    margin-top: 0;
    font-size: 1.92rem;
}
.offers-list .primary-bg {
    border-radius: 45px;
    width: 90px;
    height: 90px;
    padding: 25px;
}
.achievement-section {
    position: relative;
    z-index: 1;
}
.achievement-section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(14, 18, 41, 0.8);
    z-index: -1;
}
.counter-content {
    font-weight: 600;
    font-size: 30px;
    margin: 15px auto;
    padding: 30px;
    border: 3px solid #fff;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter-title {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}
.counter-content:before{
    background: rgba(255, 255, 255, 0.1);
}
.attachment-full {
    height: auto;
}
.team-container .iw-so-person-profiles {
    display: flex;
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    width: fit-content;
}
.team-container .iw-so-person-profiles a {
    font-size: 8px;
    width: 25px;
}
.team-container .iw-so-person-desig {
    color: var(--primary-color) !important;
}
.partners-logo .lswss-logo-showcase .slick-slide img {
    max-height: 80px;
    display: block;
    width: auto;
    object-fit: contain;
    border: 1px solid #eee;
}
.testimonial-section .lsow-testimonials-slider .lsow-testimonial-text {
    color: #0e1229;
    font-weight: 400;
}
.footer {
    background-image: url(images/bg-transparent.png);
}
.footer-top {
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer .widget-title {
    color: var(--footer-link);
    text-shadow: 0px 2px 2px #000000;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
    padding-bottom: 0;
    border-bottom: 1px solid rgb(83, 84, 94);
    max-width: fit-content;
    padding-right: 25px;
}
.footer .widget-content {
    font-size: 16px;
    text-shadow: 0px 1px 2px #000000;
}
.footer-copyright {
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.sc-blog-item .align-items-end {
    height: 200px;
}
.sc-blog-item {
    margin-right: 10px;
}
.sc-blog-item .blog-entry a {
    position: relative;
    color: #fd5f00;
}
.meta-date {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 50px;
    background: #fd5f00;
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
}
.slick-slide img {
    object-fit: cover;
    width: 100%;
    height: 200px;
    max-width: unset;
    max-height: unset;
}
.blog-entry .text .heading {
    font-size: 16px;
}
.bs-container .slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    background: transparent;
    font-size: 0;
    width: 30px;
    height: 30px;
    border: 2px solid transparent;
}
.bs-container .slick-prev {
    left: -70px;
    border: 2px solid transparent;
    border-left: 2px solid #fd5f00;
    border-top: 2px solid #fd5f00;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.bs-container .slick-next {
    right: -70px;
    border: 2px solid transparent;
    border-left: 2px solid #fd5f00;
    border-top: 2px solid #fd5f00;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.blog-entry {
    border: 1px solid #ddd;
    padding: 8px;
}
.slick-dots {
    display: flex;
    margin: 15px auto;
    justify-content: center;
}
.slick-dots li button {
    font-size: 0;
    width: 15px;
    height: 16px;
    border: 2px solid #ddd;
    background: transparent;
    margin: 0 2px;
    border-radius: 20px;
}
.slick-dots li.slick-active button {
    border: 2px solid #fd5f00;
}
.section-container .tnp-widget-minimal input.tnp-email {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.bl-container .bl-blog-item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.bl-container .bl-blog-item .bl-blog-image a img {
    max-width: 100px;
    margin-right: 15px;
}
.bl-container .bl-blog-item .bl-blog-content .heading {
    font-size: 16px;
    margin: 0;
}
.bl-container .bl-blog-item .bl-blog-content .bl-meta-date {
    color: rgba(255, 255, 255, 0.2);
    text-shadow: none;
    font-style: italic;
    font-size: 14px;
    margin-top: 7px;
}
.footer .so-widget-lsow-icon-list {
    margin-top: 15px;
}
.footer .so-widget-lsow-icon-list a:hover {
    text-decoration: none;
}
.gallery-slider .aigpl-gallery-slider .slick-dots {
    display: none !important;
}
.top-logo-section.fix-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background: #fff;
    z-index: 99;
    height: 110px;
    box-shadow: 0 0 5px;
}
.fix-header .top-info {
    display: none;
}
.fix-header .logo img {
    max-height: 95px;
    margin-top: 5px;
}
.fix-header .header-info {
    justify-content: center;
    margin-top: 10px;
}
.gototop {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 2px solid #fff;
    z-index: 99;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
}
.mgrid-item {
    padding: 10px;
    border: 1px solid #eee;
    margin-bottom: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #fff;
}
.mgrid-item:hover {
    -webkit-box-shadow: 0px 30px 25px -35px #000;
    -moz-box-shadow: 0px 30px 25px -35px #000;
    box-shadow: 0px 30px 25px -35px #000;
    -webkit-transform: scale(1.03) translate(0px, 20px);
    -moz-transform: scale(1.03) translate(0px, 20px);
    -ms-transform: scale(1.03) translate(0px, 20px);
    -o-transform: scale(1.03) translate(0px, 20px);
    transform: scale(1.03) translate(0px, 20px);
    z-index: 9;
    border-color: #ddd;
}
.mgrid-item--width2 { width: 400px; }
.mgrid img, .single-course img {
    max-width: 100%;
    height: auto;
}
.mgrid .entry-title {
    font-size: 20px;
}
.single-blog img {
    max-width: 100%;
}
.page-title h1 {
    font-size: 3em;
    line-height: 1.5;
    margin: 20px 0;
    text-align: center;
}
.navigation-area .courses-menu > li > a span.mega-indicator {
    display: inline;
    height: auto;
    width: auto;
    background: transparent;
    position: relative;
    pointer-events: auto;
    left: auto;
    min-width: auto;
    line-height: inherit;
    color: inherit;
    font-size: inherit;
    padding: 0;
}
.navigation-area .courses-menu > li > a span.mega-indicator::before {
    content: '\f347';
    font-family: dashicons;
    font-weight: normal;
    display: inline-block;
    margin: 0 0 0 6px;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: rotate(0);
    color: inherit;
    position: relative;
    background: transparent;
    height: auto;
    width: auto;
    right: auto;
    line-height: inherit;
}
.courses-menu-container {
    position: absolute;
    right: 0;
    background: #eee;
    top: 100%;
    z-index: 9;
    display: none;
}
.arrow-left {
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 6px;
    width: 32px;
    border-right: 1px solid #eee;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.parent li:hover .arrow-left {
    border-right-color: #808080;
    left: -32px;
}
.icon-container {
    font-size: 6vw;
    border: 12px double #0e1229;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    margin: 30px auto 50px;
    box-shadow: -40px 20px 0px rgba(253, 95, 0, 0.5), 40px 20px 0px rgba(14, 18, 41, 0.5);
}
.stickey {
    position: -webkit-sticky;
    position: sticky;
    top: 147px;
    margin-bottom: 20px;
}
.contact-form {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 10px 30px -25px;
}
.fix-header .courses-menu-container {
    margin-top: -15px;
    right: 15px;
}
.nav-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pagination-item a {
    background: #0093dd;
    padding: 15px;
    display: block;
    color: #fff;
    border-radius: 5px;
}
@media screen and (min-width: 1200px) {
    .gutter-0 .panel-grid-cell {
        width: 25% !important;
    }
    .mgrid-item {
        width: calc(25% - 10px);
    }
    .navigation-area {
        display: flex;
        align-items: center;
    }
    .navigation-area .courses-menu {
        margin: 0;
    }
    .navigation-area .courses-menu > li > a {
        display: block;
        padding: 20px 0 20px 15px;
    }
    .courses-menu-container >.parent.tax-menu {
        width: 250px;
        padding-top: 15px;
        padding-bottom: 15px;
        border: 1px solid #ddd;
    }
    .navigation-area .courses-menu li a {
        color: var(--secondary-color);
    }
    .navigation-area .courses-menu > li:hover .courses-menu-container {
        display: block;
    }
    .courses-menu-container >ul > li {
        text-align: right;
        position: relative;
    }
    .courses-menu-container .parent .child {
        display: none;
        background: #fff;
        width: 300px;
        padding-right: 0;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        box-shadow: inset -12px 0 15px -15px #000;
    }
    .courses-menu-container .parent li:hover .child {
        display: block;
        position: absolute;
        right: 100%;
        top: -15px;
        padding: 15px;
    }
    .courses-menu-container >.parent.tax-menu li a {
        display: block;
        padding: 7px 15px;
    }
    .arrow-left::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 10px;
        height: 10px;
        border-left: 1px solid #808080;
        border-top: 1px solid #808080;
        transform: rotate(-45deg);
        margin: auto;
    }
}